<div class="login-box" data-module="ui/login-page">
  <div class="login-logo">
		<h1>RubyZika</h1>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <h3 class="login-box-msg"><%=t('devise.sessions.new.sign_in') %></h3>
		<div class="">
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<%= f.input :email, required: false, autofocus: true %>
				<%= f.input :password, required: false %>
				<div class="col-xs-8">
					<div class='checkbox icheck'>
						<%= f.input :remember_me, as: :boolean, class: "checkbox" if devise_mapping.rememberable? %>
					</div>
				</div>
				<div class="col-xs-4">
					<%= f.button :submit, t('devise.sessions.new.sign_in'), class: "btn btn-primary btn-block btn-flat"%>
				</div>
			<% end %>

			<div class="social-auth-links text-center">
				<%= render "devise/shared/links" %>
			</div>
	</div>
</div>
